// -----------------------------------------------------------------------------
//* This file contains all styles related to the button components.
// -----------------------------------------------------------------------------
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 5rem;
    margin-bottom: 3rem;
    display: inline-block;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black 50%);
    transition: all 0.5s;
    background-size: 220%;
    background-position: 100%;
    color: $color-white;
    animation: moveFromBottom 1s ease-out;
  }

  &:hover,
  &:active {
    background-position: 0%;
    color: $color-black;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.btn-play {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 5rem;
    display: inline-block;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
