.game {
  @media only screen and (max-width: $bp-medium) {
    margin: 0 10rem;
  }
  @media only screen and (max-width: $bp-mobile) {
    margin: 0 5rem;
  }
  &__message {
    font-size: 2rem;
    height: 2rem;

    @media only screen and (max-width: $bp-mobile) {
      height: 1.2rem;
      font-size: 1.2rem;
    }
  }
}
