// -----------------------------------------------------------------------------
//* This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//* Fonts

//* Colors
$color-white: #fff;
$color-black: #000;

//* Breakpoints

$bp-medium: 43.75em; //700/16px = 43.75em;
$bp-mobile: 31.25em; //500/16px = 31.25em;
